<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login & Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/logomu.svg">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>
<div style="background-color: red; position: fixed"><a class=" navbar-brand text-success logo h1 align-self-center" href="/home">
    <img src="/img/logomu.svg" style="height: 80px">
</a></div>
<div class="form-box rounded-3 shadow-lg col-4 container mt-5" style="background-color: rgba(12,12,12,0.44); font-family: 'Poppins', sans-serif; color: white">
    <div class="card-header" style="text-align: right ">
        <span><span class="m-auto mx-0" style="text-align: right ; font-style: italic">Don't have an account?</span> <a href="/signup">Sign Up</a></span>
        <header class="text-center">Login</header>
    </div>
    <div class="card-body">
        <form action="/login" method="post">
            <div class="form-group mt-2">
                <label for="email">Email:</label>
                    <input type="email" class="form-control rounded-pill" id="email" name="userName" th:value="${userName}" placeholder="Enter your email" required>
            </div>
            <div class="form-group mt-2">
                <label for="password">Password:</label>
                <input type="password" class="form-control rounded-pill" id="password" name="password" th:value="${password}"  placeholder="Create a password" required>
            </div>
            <div class="two-col">
                <div class="one">
                    <input class="mt-2" type="checkbox" id="rememberMe" value="rememberMe">
                    <label for="rememberMe"> Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="#">Forgot password?</a></label>
                </div>
            </div>
            <button type="submit" class="btn btn-danger btn-block mt-4 rounded-pill w-100" >Login</button>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.min.js"></script>
</body>
</html>