<!DOCTYPE html>
<html lang="en">

<head th:replace="/index :: head">
</head>
<body>

<nav th:replace="index :: navbar"></nav>


    <div class="container-fluid bg-light" style="padding-top: 160px">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Contact Us</h1>
            <p>
                Email:  https://codegym.vn <br>
                Telephone: 0999999999 <br>
                Nhà 23, Lô TT-01 Mon City, Hanoi, Vietnam

            </p>
        </div>
    </div>
    <div id="mapid">
        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.7517910225356!2d108.20716137595849!3d16.078364939191655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421846431fd0fd%3A0x780138ba60fa3aa6!2zMjk1IE5ndXnhu4VuIFThuqV0IFRow6BuaCwgVGhhbmggQsOsbmgsIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1722931022897!5m2!1svi!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-9 m-auto" method="post" role="form">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control mt-1" id="name" name="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="message">Message</label>
                    <textarea class="form-control mt-1" id="message" name="message" placeholder="Message" rows="8"></textarea>
                </div>
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">Let’s Talk</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

<footer th:replace="/index::footer"></footer>

<th:block th:replace="/index::filejs">

</th:block>
</body>

</html>